<div class="container">
  <div class="row row-cols-auto">
    <div class="col">
      <form action="/answer" data-turbo="false" method="get">
        <div class="col">
          <input type="text" name="question" placeholder="Ask the coach anything!">
          <input type="submit" value="Ask!">
        </div>
      </form>
    </div>
  </div>
</div>